/* general layout / design */

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

main > .container {
  padding: 0 7%;
}

/* navbar and sidebar */

header {
  background-color: var(--bs-danger);
}

.sidebar {
  height: 100%;
}

.sidebar a:hover {
  background: #C42F3E;
}

/* Verstecke Sidebar (schönere Lösung mit JS überlegen? zB. Ein- und Ausklappen */

@media only screen and (max-width: 625px) {
  #sidebar {
    display: none !important;
  }
}


/* following section describes main content layout and design 
**  TODO: proper text style and decoration! E.g. what should a p-tag look like; what should lists look like and so on...
**
*/

.content {
  border: 1px solid black;
}

/* Color ressources */

/* Darkmode (standard skin) */
.bg-blackened {
  background: #222222;
}

.bg-dark {
  background: #2c2c2c;
}

.bg-lightdark {
  background: #464646;
}

.bg-highlighted {
  background-color: var(--bs-danger);
}

.btn-darkmode {
  background-color: #F98692;
  border: 1px solid #C42F3E;
}

.btn-darkmode:hover {
  background-color: #C42F3E;
  box-shadow: 1px 1px 2px inset black;
}

.btn-darkmode-outline {
  border: 1px solid #C42F3E;
}

.btn-darkmode-outline:hover {
  background-color: #C42F3E;
  border: 1px solid #C42F3E;
  box-shadow: 1px 1px 2px inset black;
}