@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

/* general layout / design 

.container {

}
*/
/* navbar and sidebar */

header {
  background-color: var(--bs-danger);
}

/* following section describes main content layout and design 
**  TODO: proper text style and decoration! E.g. what should a p-tag look like; what should lists look like and so on...
**
*/

.content {
  border: 1px solid black;
}

/* Color ressources */

.bg-dark {
  background: #2c2c2c;
}

.bg-lightdark {
  background: #464646;
}

.bg-blackened {
  background: #222222;
}