/* general layout / design */

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

main > .container {
  padding: 0 7%;
}

#errormsgBox {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
/* navbar and sidebar */

header {
  background-color: var(--bs-danger);
}

.sidebar {
  height: 100%;
}

.sidebar a:hover {
  background: #C42F3E;
}

.width-15p {
  width: 15% !important;
}

/* Verstecke Sidebar (schönere Lösung mit JS überlegen? zB. Ein- und Ausklappen */

@media only screen and (max-width: 625px) {
  #sidebar {
    display: none !important;
  }
}


/* following section describes main content layout and design 
**  TODO: proper text style and decoration! E.g. what should a p-tag look like; what should lists look like and so on...
**
*/

.content {
  border: 1px solid black;
}

/* Calendar style */
#calendar {
  max-width: 70%;
  text-align: center;
}

#calendar tr td {
  
}

.today {
  color: #222222;
  background-color: white !important;
}

.calendar-event:hover {
  background-color: var(--bs-danger);
  cursor: pointer;
}

/* Color ressources */

/* Darkmode (standard skin) */
.bg-blackened {
  background: #222222;
}

.bg-dark {
  background: #2c2c2c;
}

.bg-lightdark {
  background: #464646;
}

.bg-highlighted {
  background-color: var(--bs-danger);
}

.modal-header{
  
  border-bottom: none;
}

.modal-content{
  background-color: #212529;
  color: white !important;
}

/* Buttons und Nav */

/* Alles was mit icons zu tun hat */
.button-icon {
  color: white;
  font-size: 150%;
}

.button-icon:focus {
  box-shadow: none;
}

.button-icon:hover {
  color: #dc3545;
}

.footer-icon {
  color: black;
  font-size: 150%;
}

.footer-icon:hover {
  color: #dc3545;
}

/* Nav Header */
.nav-darkmode:hover {
  color: white;
}

.btn:focus, .btn-close:focus {
  box-shadow: 0 0 1.5px 0.15rem #DEDEDE !important;
}


.btn-darkmode {
  background-color: #F98692;
  border: 1px solid #C42F3E;
}

.btn-darkmode:hover {
  background-color: #C42F3E;
  box-shadow: 1px 1px 2px inset black;
}

.btn-darkmode-outline {
  border: 1px solid #C42F3E;
}

.btn-darkmode-outline:hover {
  background-color: #C42F3E;
  border: 1px solid #C42F3E;
  box-shadow: 1px 1px 2px inset black;
}


/* Navigation Profilseite */
.linktab.active {
  background-color: #C42F3E !important;
  border-color: #212529 !important;
}

.linktab {
  color: white !important;
}

.linktab:focus {
  border-color: #212529 !important;

}

.linktab:hover {
  background-color: #C42F3E;
  border-color: #212529 !important;
  
}

/* Login / Register Formular */
.sendbtn {
  color: white !important;
  background-color: #C42F3E !important;
  border-color: #C42F3E !important;
}

.sendbtn:focus {
  border-color: #C42F3E !important;
}

.sendbtn:hover {
  box-shadow: 1px 1px 2px inset black;
}

/* Sidebar Buttons */

.sidebar-icon {
  color: black;
  font-size: 180%;
}

.sidebar-icon:focus {
  box-shadow: none;
}

/* Toastmessage */

.showToast {
  display: block !important;
}

.hideToast {
  display: none !important;
}